* {
    border: none;
    border-radius: 0;
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: "Hack Nerd Font Mono";
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background-color: rgba(43, 48, 59, 0.5);
    border-bottom: 3px solid rgba(100, 114, 125, 0.5);
    padding-bottom: 30px;
    min-height: 100px;
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #ffffff;
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.focused
{
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.active
{
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}

#power-profiles-daemon,
#clock,
#battery,
#cpu,
#memory,
#disk,
#backlight,
#backlight-slider,
#network,
#pulseaudio,
#tray,
#mode {
    padding: 0 10px;
    margin: 0 4px;
    color: #ffffff;
}

#window,
#workspaces {
    margin: 0 4px;
}

#clock {
    background-color: #64727D;
}

#battery {
    background-color: #ffffff;
    color: #000000;
}

#battery.charging, #battery.plugged {
    color: #ffffff;
    background-color: #26A65B;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#cpu {
    background-color: #2ecc71;
    color: #000000;
}

#memory {
    background-color: #9b59b6;
}

#backlight {
    background-color: #90b1b1;
}

#network {
    background-color: #2980b9;
}

#network.disconnected {
    background-color: #f53c3c;
}

#pulseaudio {
    background-color: #f1c40f;
    color: #000000;
}

#pulseaudio.muted {
    background-color: #90b1b1;
    color: #2a5c45;
}

#tray {
    background-color: #2980b9;
}

#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#power-profiles-daemon {
	font-size: 24px;
	min-width: 18px;
}

#power-profiles-daemon.performance {
	background-color: #e7000b;
}

#power-profiles-daemon.power-saver {
	background-color: #00c951;
}

#power-profiles-daemon.balanced {
	background-color: #2b7fff;
}

#backlight-slider {
	background-color: #d6d3d1;
}

#backlight-slider slider {
    min-height: 5px;
    min-width:  5px;
    border-radius: 5px;
    background: #721378;
}
#backlight-slider trough {
    min-height: 2px;
    min-width: 50px;
    border-radius: 5px;
    background: black;
}
#backlight-slider highlight {
    min-width: 2px;
    border-radius: 5px;
    background: #721378;
}
